
# dependencies
/daedalus/node_modules
/.pnp
.pnp.js

# testing
/daedalus/coverage

# production
/daedalus/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/daedalusAPI/core/generator/data*
/daedalusAPI/core/generator/generated*
/daedalusAPI/core/generator/models_checkpoints*

/daedalusAPI/core/generator/src/main/data*
/daedalusAPI/core/generator/src/main/generated*
/daedalusAPI/core/generator/src/main/models_checkpoints*
/daedalusAPI/core/generator/src/main/renders*

/daedalusAPI/core/migrations*
/.vscode*
/.sonarlint