.menuframe {
    position: fixed !important;
    transition: all 0.5s ease !important;
}

.generation, .preview {
    padding-top: 1.5em !important;
    top: -1.4em;
    right: 50%;
    width: 200px;
    text-align: center;
    transform: translate(50%, 0);
    border-radius: 8px !important;
}

.generation {
    background-color: #6435c9 !important;
    border: 1px solid #888 !important;
}

.preview {
    background-color: #00b8ff !important;

}

.header {
    color: #fff !important;
}

.generating_arrows {
    z-index: 10;
}

/* For the PREVIEW state options */

.preview_options {
    transition: all 0s !important;    
    background-color: #165a8c;
    
    height: 100px;
    width: auto;
    
    color: white;
    opacity: 0.7;
    padding: 10px;
    
    border-radius: 1vh;
    right: -1%;
    bottom: -1%;
    padding-bottom: 1%;
}

.options_button {
    margin-right: 13px !important;
}

.optionsContainer {
    transition: all 0s !important;
    width: 100%;
    height: 100%;
    display: flex !important ;
    flex-direction: row !important;
}

.options_button_child, .options_button {
    transition: all 0s !important;    
    height: 100% !important;
    width: 100%;
}

/* For the GENERATION state */

.generation_options {
    transition: all 0s !important;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 20px;

    flex-direction: column !important;
    display: flex !important;
}

.generating_arrows {
    top: -35vh;
    font-size: 5em !important;
    opacity: 0.5 !important;
    border-radius: 100px;
    width: 80px !important;
    height: 80px !important;
    text-align: vertical;
    display: flex !important;
    color: white;
}

.generating_arrows.arrow.left:before, .generating_arrows.arrow.right:before {
    margin: auto !important;
}

.generating_arrows:hover {
    opacity: 0.8 !important;
    background-color: #6435c9;
    border: 1px solid #fff !important;

}

.generating_arrows:active {
    opacity: 1 !important;
}

.gc_left {
    left: -20vw;
}

.gc_right {
    right: -20vw;
}

.generation_options_container {
    display: flex !important;
    flex-direction: column;
    width: 100% !important;
}

.generate_input {
    width: 100% !important;
}   

.generate_button {
    margin-top:  10px !important;
    height: 50px !important;
    width: 100% !important;    
}

/* SLIDING MENUS */

.settings, .profile {
    font-size: 2.8em !important;
    top: 10px !important;
    color: white;
    transition: all 0.2s ease;
}

.settings:hover {
    color: #999;
    transform: translate(-10%, 0)
}

.profile:hover {
    color: #999;
    transform: translate(10%, 0)
}

.settings {
    right: 10px !important;
}

.profile {
    left: 10px !important;
}

.profile_slide {
    height: 100vh !important;
    width: 400px;
    background-color: red;
    z-index: 10000;
    left: 0;
    top: -14px;
}

.settings_slide {
    height: 100% !important;
    width: 400px;
    background-color: red;
    right: 0;
    z-index: 10000;
    top: -14px;

}

.profile_segment {
    width: 100% !important;
}

/* Talking about the button which toggles the slides */
.hidden_button {
    display: hidden !important;
    opacity: 0 !important;
}

.lower_generation_options {
    display: flex !important;
    flex-direction: row;
}

.back_to_preview {
    left: 0 !important;
}
